{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [],
  "extends": [
    "eslint:recommended",
    "next",
    "plugin:@typescript-eslint/recommended",
    "plugin:@next/next/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/no-inferrable-types": "off"
  },
  "overrides": [
    {
      "files": [
        "jest.config.js",
        "next.config.js",
        "next-sitemap.js",
        "postcss.config.js",
        "tailwind.config.js"
      ],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      },
      "env": {
        "node": true
      }
    }
  ]
}
