{
  "overrides": [
    {
      "files": ["next.config.js", "postcss.config.js", "tailwind.config.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      },
      "env": {
        "node": true
      }
    }
  ]
}
