{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": ["plugin:@stencil/recommended"],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^h$" }
    ],
    "@typescript-eslint/explicit-module-boundary-types": [
      "error",
      {
        "allowedNames": ["render"]
      }
    ],
    "@stencil/render-returns-host": ["off"],
    "@stencil/required-jsdoc": ["off"],
    "react/jsx-no-bind": ["off"]
  }
}
