body {
  font-family: 'Roboto';
}

.your-models {
  margin: 0;
  min-height: 300px;
  display: block;
  position: relative;
}

.your-models::after {
  content: "";
  background:url('/sequelize-ui.png');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.model-name-input {
  margin-left: 5%;
}

.create-field-grid {
  margin: 0 5%;
  padding-bottom: 1%;
}

.create-field-header {
  margin: 2% 0;
}

.create-field-title {
  font-size: 1.5em;
  padding-right: 1em;
}

.field-box {
  padding: 3% 3% 0;
}

.configuration {
  padding: 1%;
}


@media (max-width: 600px) {

}

@media (max-width: 992px) {

}

@media (min-width: 993px) {
  .product-item:nth-child(2n+1) {
    clear:left;
  }
  .product-item:nth-child(2n) {
    clear:right;
  }
}
