body {
  font-family: 'Roboto';
}

.your-models {
  margin: 0;
}

.model-name-input {
  margin-left: 5%;
}

.create-field-grid {
  margin: 0 5%;
  padding-bottom: 1%;
}

.create-field-header {
  margin: 2% 0;
}

.create-field-title {
  font-size: 1.5em;
  padding-right: 1em;
}

.field-box {
  padding: 3% 3% 0;
}
