.siteTitle {
  font-size: 2.5em;
  margin: 0;
  width: 100%;
  text-align: center;
  align-self: center;
  letter-spacing: 0.18em;
  font-weight: normal;
  text-transform: uppercase;
}

.createModelBtn {
  display: inline-block;
  margin: 0 auto;
}

.modelCardHeaderContainer {
  display: inline-block;
}

.modelCard .modelCardHeaderContainer h3 {
  padding-top: 0.2em;
}

.modelCard .modelCardButtons {
  float: right;
  display: inline-block;
}
