.siteTitle {
  font-size: 1.5em;
  margin: 0;
  width: 100%;
  text-align: center;
  align-self: center;
}

.modelItem h3 {
  margin: 0.25em 0 0 0;
  display: inline-block;
  float: left;
}

.modelItem div {
  display: inline-block;
  float: right;
}

