/* APP BAR */

#site-title {
  font-size: 2em;
  margin: 8.5px 0 0 0;
  width: 100%;
  text-align: center;
  align-self: center;
  letter-spacing: 0.1em;
  font-weight: normal;
  text-transform: uppercase;
}

#site-title::before {
  content: url(../../../assets/sequelize-ui-tiny.svg);
  margin-right: 0.5em;
  vertical-align: -45%;
}

#site-title.tiny {
  text-align: right;
  padding-right: 0.75em;
}

#site-title.small::before {
  content: none;
}

#site-title.tiny::before {
  content: none;
}

.menu-link-separator {
  display: inline-block;
  width: 100%;
}

/* CONTENT */

#content {
  padding-top: 6em;
  padding-bottom: 6em;
}


/* MODELS */

.create-model-btn {
  display: inline-block;
  margin: 0 auto;
}

.model-card-header {
  display: inline-block;
}

.model-card .model-card-header h3 {
  padding-top: 0.2em;
}

.model-card .model-card-btns {
  float: right;
  display: inline-block;
}
