:root {
  --primary-color: cornflowerblue;
  --primary-color-light: lightsteelblue;
  --primary-color-dark: royalblue;
  --secondary-color: orchid;
  --secondary-color-dark: darkorchid;
  --header-height: 3.75rem;
  --black: #151515;
  --white: #fefefe;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  color: var(--black);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--secondary-color-dark);
  text-decoration: none;
  font-weight: bold;
}

/**************************
 ********* Layout *********
 **************************/

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Header */

.header-wrapper {
  background-color: var(--black);
}

.header {
  color: var(--white);
  /* height: var(--header-height); */
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.25rem;
}

.header__title::before {
  content: "";
  background-image: url(../../assets/images/sequelize-ui-tiny-white.svg);
  background-size: 2.5rem 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 2.5rem 2rem;
  cursor: pointer;
}

.header__title {
  margin: 0;
  font-weight: lighter;
  font-size: 1.75rem;
  line-height: 3.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

.header__actions {
  display: flex;
  justify-content: space-evenly;
}

.header__actions__button {
  color: var(--white);
  cursor: pointer;
  min-width: 3rem;
  border: none;
  padding: 0.5rem;
  height: 3.5rem;
  background: none;
  line-height: 3rem;
  font-size: 1rem;
  text-decoration: none;
  display: block;
  font-weight: normal;
}

.header__actions__button.icon.above {
  line-height: initial;
}

.header__actions__button.icon.above::before {
  text-align: center;
  font-size: 1.5rem;
}

.header__actions__button:hover:not(:disabled) {
  color: var(--primary-color);
  background-color: #222222;
}

.header__actions__button:disabled {
  cursor: auto;
  color: var(--primary-color);
}

@media (max-width: 550px) {
  .header {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .header__actions {
    justify-content: center;
  }
}

/* Main Content */

.main-content {
  background-color: #f0f0f0;
  position: relative;
  flex: 1 1 auto;
  padding-bottom: 2rem;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: var(--header-height);
  text-align: center;
  background-color: var(--black);
  color: var(--white);
}

.footer__reset.button {
  color: var(--white);
  font-size: 1.25rem;
}

.footer__reset:hover {
  color: var(--primary-color);
}

/**************************
 ******* Components *******
 **************************/

/* Text */

.title {
  font-size: 1.25rem;
  margin: 1.5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1rem;
  margin: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

/* Button */

.button {
  border: none;
  background: none;
  font-size: 0.875rem;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
}

.button.icon.before::before {
  margin-right: 0.3rem;
}

.button.icon.after::after {
  margin-left: 0.3rem;
}

.button.primary {
  background-color: var(--primary-color);
  color: #fff;
}

.button.primary:hover {
  background-color: var(--primary-color-dark);
}

.button.primary:focus {
  border: 2px solid black;
}

.button.primary:disabled {
  background-color: var(--primary-color-light);
}

.button:disabled {
  cursor: initial;
}

/* List */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 9px;
}

.list__title+.list {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list__title {
  font-size: 1rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 0;
  display: block;
  border: 1px solid #ddd;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom: none;
}

.list__item {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item:last-of-type {
  border-bottom: none;
}

.list__item__actions>* {
  width: 3.5rem;
}

@media (max-width: 450px) {
  .list__item {
    padding: 0.5rem 1rem;
  }
}

/* Checkbox */

.checkbox {
  line-height: 1.5rem;
  font-size: 1rem;
}

.checkbox:hover {
  cursor: pointer;
}

label.checkbox {
  margin-right: 0.75rem;
}

input.checkbox[type="checkbox"] {
  width: 0;
  height: 0;
  -ms-transform: scale(0);
  /* IE */
  -moz-transform: scale(0);
  /* FF */
  -webkit-transform: scale(0);
  /* Safari and Chrome */
  -o-transform: scale(0);
  /* Opera */
  transform: scale(0);
}

label.checkbox::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border: 1px solid;
  left: 0;
  top: 0.25rem;
  background-color: var(--white);
}

label.checkbox::after {
  content: "";
  display: inline-block;
  height: 0.25rem;
  width: 0.5rem;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 0.3rem;
  top: 0.5rem;
}

label.checkbox {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
}

label.checkbox::before, label.checkbox::after {
  position: absolute;
}

input.checkbox[type="checkbox"]+label::after {
  content: none;
}

input.checkbox[type="checkbox"]:checked+label::after {
  content: "";
}

input.checkbox[type="checkbox"]:focus+label::before {
  outline: rgb(59, 153, 252) auto 12px;
}

/* Toolbelt */

.toolbelt {
  border: 1px solid #ddd;
  display: inline-block;
  border-radius: 6px;
}

.toolbelt .button {
  padding: 0.75rem;
}

.toolbelt .button:first-of-type {
  padding-left: 1.5rem;
}

.toolbelt .button:last-of-type {
  padding-right: 1.5rem;
}

.toolbelt .button:hover {
  color: var(--primary-color);
}

.toolbelt__title {
  margin: 0 0 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  margin: 0 -0.75rem 1rem;
  line-height: 2.5rem;
  display: block;
  text-align: center;
}

/* Code */

.code-explorer {
  text-align: left;
  border-radius: 5px;
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
}

.code-explorer__explorer, .code-explorer__code {
  width: 100%;
  display: inline-block;
  overflow-y: auto;
  overflow-x: auto;
}

.code-explorer__code {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  border-left: solid 2px #0D3A58;
  background: #f2f2f2;
}

.code-explorer__explorer {
  background-color: #14232D;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  vertical-align: top;
  padding: 0.25rem 0;
  border-bottom: solid 1px #ddd;
}

.code-explorer__explorer ul {
  list-style: none;
  padding-left: 0em;
  margin: 0;
  margin-left: 1.25rem;
}

.code-explorer__explorer>ul {
  margin-left: 0;
  padding-left: 0;
}

.code-explorer__file-item>.code-explorer__filename {
  display: block;
  padding: 0.25em;
  color: #d6d6d6;
  white-space: nowrap;
}

.code-explorer__file-item:hover {
  background-color: #193549;
}

.code-explorer__file-item.active {
  background-color: #0d3a58;
}

.code-explorer__file-item.active>.code-explorer__filename {
  font-weight: bold;
  cursor: default;
}

.code-explorer__file-item.active>.code-explorer__filename:hover {
  cursor: default;
}

.code-explorer__file-item.depth-0 {
  padding-left: 1rem;
}

.code-explorer__file-item.depth-1 {
  padding-left: 2.25rem;
}

.code-explorer__file-item.depth-2 {
  padding-left: 3.5rem;
}

.code-explorer__file-item.depth-3 {
  padding-left: 4.75rem;
}

.code-explorer__file-item.depth-4 {
  padding-left: 6rem;
}

.code__container {
  height: calc(100% - 2rem);
}

.code-explorer .code__container {
  height: 100%;
  padding-bottom: 1.5rem;
}

.code__container pre {
  width: 100%;
  height: 100%;
  margin: 0;
  box-shadow: none;
  padding-bottom: 1.5rem;
}

@media (min-width: 800px) {
  .code-explorer {
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100%;
  }
  .code-explorer__explorer {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    border-bottom: none;
  }
  .code-explorer__code {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }
}

.code-explorer__file-item>.code-explorer__filename::before {
  margin-right: 0.5em;
}

.code-explorer__file>.code-explorer__filename {
  cursor: pointer;
}

.code-explorer__filename::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
}

.code-flyout {
  position: fixed;
  top: var(--header-height);
  left: 100vw;
  height: calc(100vh - 2 * var(--header-height));
  width: 100vw;
  z-index: 1;
  transition: left 400ms ease-out;
}

@media (max-width: 450px) {
  .code-flyout .code-explorer, .code-flyout .code__container {
    font-size: 0.8rem;
  }
}

.code-flyout.open {
  left: 0;
}

.code-flyout__top-menu {
  border-bottom: solid 2px #0D3A58;
  display: flex;
  justify-content: space-between;
  background-color: #2D3C46;
}

.code-flyout__top-menu__filename {
  margin: 0;
  padding: 0.5rem;
  font-style: italic;
}

.code-flyout__top-menu__filename, .code-flyout__top-menu__buttons .button {
  font-size: 1rem;
  color: #e6e6e6;
}

.code-flyout__top-menu .button:hover {
  color: #0088FF;
}

.code-flyout pre, .code-flyout code {
  height: 100%;
}

/* Message */

.message {
  opacity: 1;
  position: fixed;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  background: var(--primary-color-dark);
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  top: calc(var(--header-height) / 2);
  transition: opacity 0.5s ease-out;
}

.message.hidden {
  opacity: 0;
}

.message.error {
  background: #c0392b;
}

/* Icons */

.icon.before::before, .icon.above::before, .icon.after::after, .icon.below::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
}

.icon.above::before, .icon.below::after {
  display: block;
}

.icon.before.code::before, .icon.above.code::before, .icon.after.code::after, .icon.below.code::after {
  font-weight: 900;
  content: '\f121';
}

.icon.before.edit::before, .icon.above.edit::before, .icon.after.edit::after, .icon.below.edit::after {
  font-weight: 900;
  content: '\f044';
}

.icon.before.back::before, .icon.above.back::before, .icon.after.back::after, .icon.below.back::after {
  content: '\f359';
}

.icon.before.delete::before, .icon.above.delete::before, .icon.after.delete::after, .icon.below.delete::after {
  font-weight: 900;
  content: '\f2ed';
}

.icon.before.view::before, .icon.above.view::before, .icon.after.view::after, .icon.below.view::after {
  font-weight: 900;
  content: '\f06e';
}

.icon.before.check::before, .icon.above.check::before, .icon.after.check::after, .icon.below.check::after {
  font-weight: 900;
  content: '\f00c';
}

.icon.before.save::before, .icon.above.save::before, .icon.after.save::after, .icon.below.save::after {
  content: '\f0c7';
}

.icon.before.cancel::before, .icon.above.cancel::before, .icon.after.cancel::after, .icon.below.cancel::after {
  font-weight: 900;
  content: '\f00d';
}

.icon.before.download::before, .icon.above.download::before, .icon.after.download::after, .icon.below.download::after {
  font-weight: 900;
  content: '\f019';
}

.icon.before.add::before, .icon.above.add::before, .icon.after.add::after, .icon.below.add::after {
  font-weight: 900;
  content: '\f067';
}

.icon.before.folder::before, .icon.above.folder::before, .icon.after.folder::after, .icon.below.folder::after {
  content: '\f07b';
}

.icon.before.info::before, .icon.above.info::before, .icon.after.info::after, .icon.below.info::after {
  font-weight: 400;
  content: '\f059';
}

.icon.before.cubes::before, .icon.above.cubes::before, .icon.after.cubes::after, .icon.below.cubes::after {
  font-weight: 900;
  content: '\f1b3';
}

.icon.before.copy::before, .icon.above.copy::before, .icon.after.copy::after, .icon.below.copy::after {
  font-weight: 900;
  content: '\f0c5';
}

.icon.before.github::before, .icon.above.github::before, .icon.after.github::after, .icon.below.github::after {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  content: '\f09b';
}

.icon.before.nodejs::before, .icon.above.nodejs::before, .icon.after.nodejs::after, .icon.below.nodejs::after {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  content: '\f3d3';
}

.icon.before.git::before, .icon.above.git::before, .icon.after.git::after, .icon.below.git::after {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  content: '\f1d3';
}

.icon.before.json::before, .icon.above.json::before, .icon.after.json::after, .icon.below.json::after {
  font-weight: bold;
  content: '{}';
  letter-spacing: 0.15rem;
}

/**************************
 ***** Page Specific ******
 **************************/

/* About */

.about .content-wrapper {
  max-width: 80%;
  width: 560px;
}

.about__title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.about__logo {
  text-align: center;
  width: 100px;
  margin: 0 auto;
}

.about__logo img {
  width: 100%;
}

@media (max-width: 500px) {
  .about__title__part {
    display: block;
  }
  .about__title__part:not(:first-of-type) {
    margin-top: 0.25rem;
  }
}

.about .info {
  font-size: 1.35rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.9rem;
  letter-spacing: 0.05ch;
  font-weight: 400;
}

.about .info strong {
  font-weight: 700;
}

.about .get-started {
  margin-top: 3rem;
  text-align: center;
}

.about .get-started__button {
  font-size: 1.5rem;
  padding: 0.75rem;
}

/* Project */

.project {
  text-align: center;
}

.add-model, .add-field, .add-assoc {
  justify-content: space-evenly;
  height: 3rem;
}

.models__title, .fields__title, .models, .fields, .project-config, .model-name, .assocs__title, .assocs {
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  max-width: 90%;
}

.models .list__item__actions>.button:hover {
  color: var(--primary-color);
}

.model-form {
  width: 75%;
  display: grid;
  padding: 0.75rem;
  grid-row-gap: 0.75rem;
  grid-column-gap: 0.75rem;
  margin: 0 auto;
}

.model-form__name-label {
  line-height: 2rem;
  margin-right: 0.5rem;
}

.model-form__name {
  font-size: 1.5rem;
  grid-column: 1/3;
  grid-row: 1/2;
  height: 2rem;
  padding: 1.15rem;
  text-align: center;
}

.model-form__add {
  grid-column: 1/2;
  grid-row: 2/3;
}

.model-form__cancel {
  grid-column: 2/3;
  grid-row: 2/3;
}

@media (max-width: 400px) {
  .model-form__name {
    max-width: 50%;
  }
  .model-form .button {
    font-size: 0.75rem;
  }
  .model-form__add {
    padding: 0.35rem;
    margin-right: 0.35rem;
    margin-left: 0.35rem;
  }
}

.project-config {
  list-style: none;
  padding: 0 0.75rem 0.75rem 0.75rem;
  display: inline-block;
  margin-top: 2rem;
  text-align: left;
}

input.project-config__item {
  display: block;
}

label.project-config__item {
  margin-left: 1rem;
  cursor: pointer;
}

label.project-config__item:hover {
  color: var(--primary-color);
}

.project-config__item {
  margin-bottom: 0.25rem;
}

.project .title, .model-view .title {
  clear: right;
}

/* View Model */

.model-view {
  text-align: center;
}

.model-name {
  display: block;
}

.model-name .toolbelt__title {
  margin: 0;
}

.model-name__view {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.model-name__text {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-left: 3.5rem;
}

.model-name.toolbelt {
  margin-top: 1.5rem;
}

.model-name__edit.button {
  margin-left: 1rem;
}

.model-name__edit.button:last-of-type, .model-name__edit.button:first-of-type {
  padding: 0.5rem;
}

.project .toolbelt, .model-view .toolbelt {
  background-color: #ffffff;
}

.fields__item {
  display: flex;
  justify-content: space-between;
}

.fields__item__details {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.fields__item__info {
  margin-left: 2rem;
  width: 55%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.fields__item__name {
  width: calc(45% - 2rem);
  text-align: left;
  word-wrap: break-word;
}

.fields__item__options {
  margin-top: 1rem;
}

.fields__item__actions {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 450px) {
  .fields__item {
    padding-right: 0.5rem;
  }
}

.assocs__item {
  display: flex;
  justify-content: space-between;
}

.assocs__item__target {
  cursor: pointer;
}

@media (max-width: 450px) {
  .assocs__item__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .assocs__item__alias {
    margin-top: 0.6rem;
    font-size: 0.95rem;
  }
}

.assocs__item__actions {
  display: flex;
  justify-content: flex-end;
}

/* Model Form */

.field-form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.field-form__type select {
  background-color: var(--white);
}

.field-form input, .field-form select {
  padding: 0.3rem;
  margin-top: 0.5rem;
}

.field-form {
  width: 100%;
}

.field-form__item {
  text-align: center;
  width: 85%;
  margin: 0.5rem auto;
}

.field-form__item input {
  text-align: center;
}

.field-form__item option {
  padding-left: 2rem;
}

.form-field__type label {
  margin-right: 1em;
  margin-bottom: 0.5rem;
}

.field-form__name label, .field-form__type label {
  display: block;
}

.field-form__name input, .field-form__type select {
  width: 100%;
  max-width: 300px;
}

.field-form__options {
  display: flex;
  justify-content: space-evenly;
}

.field-form__option {
  font-size: 0.8rem;
}

.field-form__actions {
  display: flex;
  justify-content: space-evenly;
}

.field-form__action {
  width: 40%;
}

.field-form__name {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.field-form__type {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.field-form__options {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.field-form__actions {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
}

@media (min-width: 700px) {
  .field-form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  .field-form__name {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .field-form__type {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .field-form__options {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .field-form__actions {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}