:root {
  --primary-color: cornflowerblue;
  --primary-color-light: lightsteelblue;
  --primary-color-dark: royalblue;
  --secondary-color: orchid;
  --header-height: 3.5rem;
  --black: #2a2a2a;
  --white: #fefefe;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  color:var(--black);
}

* {
  box-sizing: border-box;
}


/**************************
 ********* Layout *********
 **************************/

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* Header */
.header {
  border-bottom: solid 1px rgba(34, 36, 38, 0.30);
  height: var(--header-height);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  display: flex;
  justify-content: space-between;
}

.header__title::before {
  content: "";
  background-image: url(../assets/images/sequelize-ui-tiny.svg);
  background-size: 2.5rem 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 2.5rem 2rem;
  cursor: pointer;
}

.header__title {
  margin: 0;
  font-weight: lighter;
  font-size: 1.75rem;
  line-height: 3.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

.header__actions__button {
    color: initial;
    cursor: pointer;
    min-width: 3rem;
    border: none;
    padding: 0.5rem;
    height: 3.5rem;
    background: none;
    line-height: 3rem;
    font-size: 0.8rem;
    font-weight: bold;
    border-left: solid 0.5px rgba(32, 32, 32, 0.50);
    text-decoration: none;
    display: block;
}

.header__actions__button.icon.above {
  line-height: initial;
}

.header__actions__button.icon.above::before {
  text-align: center;
  font-size: 1.5rem;
}

.header__actions__button:hover {
  color: var(--primary-color-dark)
}

/* Main Content */
.main-content {
  background-color: #f4f4f4;
  position: relative;
  flex: 1 1 auto;
}

/* Footer */
.footer {
  text-align: center;
}

.footer__reset:hover {
  color: var(--primary-color);
}


/**************************
 ******* Components *******
 **************************/

/* Text */
.title {
  font-size: 1.25rem;
  margin: 1.5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1rem;
  margin: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

/* Button */
.button {
  border: none;
  background: none;
  font-size: 0.875rem;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
}

.button.icon.before::before {
  margin-right: 0.3rem;
}

.button.icon.after::after {
  margin-left: 0.3rem;
}

.button.primary {
  background-color: var(--primary-color);
  color: #fff;
}

.button.primary:hover {
  background-color: var(--primary-color-dark);
}

.button.primary:focus {
  border: 2px solid black;
}

.button.primary:disabled {
  background-color: var(--primary-color-light);
}

/* List */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 9px;
}

.list__title + .list {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list__title {
  font-size: 1rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 0;
  display: block;

  border: 1px solid #ddd;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom: none;
}

.list__item {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.list__item:last-of-type {
  border-bottom: none;
}


.list__item__actions > * {
  width: 3.5rem;
  /* display: inline-block; */
}

/* Checkbox */
.checkbox {
  line-height: 1.5rem;
  font-size: 1rem;
}

.checkbox:hover {
  cursor: pointer;
}

input.checkbox[type="checkbox"] {
  width: 0;
  height: 0;
}

label.checkbox::before {
  content: "";
  display: inline-block;

  height: 1rem;
  width: 1rem;
  
  border: 1px solid;

  left: 0;
  top: 0.25rem;
}

label.checkbox::after {
  content: "";
  display: inline-block;

  height: 0.25rem;
  width: 0.5rem;
  border-left: 2px solid;
  border-bottom: 2px solid;

  transform: rotate(-45deg);

  left: 0.3rem;
  top: 0.5rem;
}

label.checkbox {
  position: relative;
  display: inline-block;

  padding-left: 1.5rem;
}

label.checkbox::before,
label.checkbox::after {
  position: absolute;
}

input.checkbox[type="checkbox"] + label::after {
  content: none;
}

input.checkbox[type="checkbox"]:checked + label::after {
  content: "";
}

input.checkbox[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 12px;
}

/* Toolbelt */
.toolbelt {
  border: 1px solid #ddd;
  display: inline-block;
  border-radius: 6px;
}

.toolbelt .button {
  padding: 0.75rem;
}

.toolbelt .button:first-of-type {
  padding-left: 1.5rem;
}

.toolbelt .button:last-of-type {
  padding-right: 1.5rem;
}

.toolbelt .button:hover {
  color: var(--primary-color);
}

.toolbelt__title {
  margin: 0 0 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
}

/* Code */
.code-explorer {
  text-align: left;
  border-radius: 5px;
  height: calc(100vh - var(--header-height));
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
}

.code-explorer__explorer,
.code-explorer__code {
  width: 100%;
  display: inline-block;
  overflow-y: auto;
  overflow-x: auto;
}

.code-explorer__code {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  border-left: solid 2px #0D3A58;
  background: #f2f2f2;
}

.code-explorer__explorer {
  background-color: #14232D;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  vertical-align: top;
  padding: 0.25rem 0;
  border-bottom: solid 1px #ddd;
}

.code-explorer__explorer ul {
  list-style: none;
  padding-left: 0em;
  margin: 0;
  margin-left: 1.25rem;
}

.code-explorer__explorer > ul {
  margin-left: 0;
  padding-left: 0;
}

.code-explorer__file-item > .code-explorer__filename {
  display: block;
  padding: 0.25em;
  color: #d6d6d6;
  white-space: nowrap;
}

.code-explorer__file-item:hover {
  background-color: #193549;
}

.code-explorer__file-item.active {
  background-color: #0d3a58;
}

.code-explorer__file-item.active > .code-explorer__filename {
  font-weight: bold;
  cursor: default;
}

.code-explorer__file-item.active > .code-explorer__filename:hover {
  cursor: default;
}

.code-explorer__file-item.depth-0 {
  padding-left: 1rem;
}

.code-explorer__file-item.depth-1 {
  padding-left: 2.25rem;
}

.code-explorer__file-item.depth-2 {
  padding-left: 3.5rem;
}

.code-explorer__file-item.depth-3 {
  padding-left: 4.75rem;
}

.code-explorer__file-item.depth-4 {
  padding-left: 6rem;
}

.code__container {
  height: calc(100% - 2rem);
}

.code-explorer .code__container {
  height: 100%;
  padding-bottom: 1.5rem;
}

.code__container pre {
  width: 100%;
  height: 100%;
  margin: 0;
  box-shadow: none;
  padding: 0;
  padding-left: 3rem !important;
  padding-bottom: 1.5rem;
}

@media (min-width: 800px) {
  .code-explorer {
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
  }

  .code-explorer__explorer {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    border-bottom: none;
  }

  .code-explorer__code {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }
}

.code-explorer__file-item > .code-explorer__filename::before {
  margin-right: 0.5em;
}

.code-explorer__file > .code-explorer__filename {
  cursor: pointer;
}

.code-explorer__filename::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
}


.code-flyout {
  position: fixed;
  top: var(--header-height);
  left: 100vw;
  height: calc(100vh - var(--header-height));
  width: 100vw;
  z-index: 1;
  transition: left 400ms ease-in-out;
}

@media (max-width: 450px) {
  .code-flyout .code-explorer,
  .code-flyout .code__container {
    font-size: 0.8rem;
  }
}

.code-flyout.open {
  left: 0;
}

.code-flyout__top-menu {
  border-bottom: solid 2px #0D3A58;
  display: flex;
  justify-content: space-between;
  background-color: #2D3C46;
}

.code-flyout__top-menu__filename {
  margin: 0;
  padding: 0.5rem;
  font-style:  italic;
}

.code-flyout__top-menu__filename,
.code-flyout__top-menu__buttons .button {
  font-size: 1rem;
  color: #e6e6e6;
}

.code-flyout__top-menu .button:hover {
  color: #0088FF;
}

.code-flyout pre,
.code-flyout code {
  height: 100%;
}

/* Icons */
.icon.before::before,
.icon.above::before,
.icon.after::after,
.icon.below::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
}

.icon.above::before,
.icon.below::after {
  display: block;
}

.icon.before.code::before,
.icon.above.code::before,
.icon.after.code::after,
.icon.below.code::after {
  font-weight: 900;
  content: '\f121';
}

.icon.before.edit::before,
.icon.above.edit::before,
.icon.after.edit::after,
.icon.below.edit::after {
  font-weight: 900;
  content: '\f044';
}

.icon.before.back::before,
.icon.above.back::before,
.icon.after.back::after,
.icon.below.back::after {
  content: '\f359';
}

.icon.before.delete::before,
.icon.above.delete::before,
.icon.after.delete::after,
.icon.below.delete::after {
  font-weight: 900;
  content: '\f2ed';
}

.icon.before.view::before,
.icon.above.view::before,
.icon.after.view::after,
.icon.below.view::after {
  font-weight: 900;
  content: '\f06e';
}

.icon.before.check::before,
.icon.above.check::before,
.icon.after.check::after,
.icon.below.check::after {
  font-weight: 900;
  content: '\f00c';
}

.icon.before.save::before,
.icon.above.save::before,
.icon.after.save::after,
.icon.below.save::after {
  content: '\f0c7';
}

.icon.before.cancel::before,
.icon.above.cancel::before,
.icon.after.cancel::after,
.icon.below.cancel::after {
  font-weight: 900;
  content: '\f00d';
}

.icon.before.download::before,
.icon.above.download::before,
.icon.after.download::after,
.icon.below.download::after {
  font-weight: 900;
  content: '\f019';
}

.icon.before.add::before,
.icon.above.add::before,
.icon.after.add::after,
.icon.below.add::after {
  font-weight: 900;
  content: '\f067';
}

.icon.before.folder::before,
.icon.above.folder::before,
.icon.after.folder::after,
.icon.below.folder::after {
  content: '\f07b';
}

.icon.before.copy::before,
.icon.above.copy::before,
.icon.after.copy::after,
.icon.below.copy::after {
  font-weight: 900;
  content: '\f0c5';
}


.icon.before.github::before,
.icon.above.github::before,
.icon.after.github::after,
.icon.below.github::after {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  content: '\f09b';
}

.icon.before.nodejs::before,
.icon.above.nodejs::before,
.icon.after.nodejs::after,
.icon.below.nodejs::after {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  content: '\f3d3';
}

.icon.before.git::before,
.icon.above.git::before,
.icon.after.git::after,
.icon.below.git::after {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  content: '\f1d3';
}

.icon.before.json::before,
.icon.above.json::before,
.icon.after.json::after,
.icon.below.json::after {
  font-weight: bold;
  content: '{}';
}

/**************************
 ***** Page Specific ******
 **************************/

/* Project */
.project {
  text-align: center;
}

.add-model {
  justify-content: space-evenly;
  height: 3rem;
}

.models__title,
.models,
.model-config {
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  max-width: 90%;
}


.models__item {
  padding: 0 0.5rem;
}

.models__item {
  padding: 0 0.5rem;
}

.models__item__actions > .button:hover {
  color: var(--primary-color);
}

.new-model-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.new-model-form__name-label {
  line-height: 2rem;
  margin-right: 0.5rem;
}

.new-model-form__name {
  height: 2rem;
  text-align: center;
}

.new-model-form__add {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (max-width: 400px) {
  .new-model-form__name {
    max-width: 50%;
  }

  .new-model-form .button {
    font-size: 0.75rem;
  }

  .new-model-form__add {
    padding: 0.35rem;
    margin-right: 0.35rem;
    margin-left: 0.35rem;
  }
}

.model-config {
  list-style: none;
  padding: 0 0.75rem 0.75rem 0.75rem;
  display: inline-block;
  margin-top: 2rem;
  text-align: left;
}

.model-config .toolbelt__title {
  border-bottom: 1px solid #ddd;
  margin: 0 -0.75rem 1rem;
  line-height: 2.5rem;
}

input.model-config__item {
  display: block;
}

label.model-config__item {
  margin-left: 1rem;
  cursor: pointer;
}

label.model-config__item:hover {
  color: var(--primary-color);
}

.model-config__item {
  margin-bottom: 0.25rem;
}

.model-config .toolbelt__title {
  display: block;
  text-align: center;
}

.project .title,
.model-view .title {
  clear: right;
}

.model__back {
  float: left;
  color: var(--primary-color-dark);
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0;
}

.project-code__open,
.model-code__open {
  float: right;
  color: var(--primary-color-dark);
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0;
}

.project-code__open:hover, 
.model-code__open:hover,
.model__back:hover {
  color: var(--primary-color);
}

/* View Model */
.model-view {
  text-align: center;
}

.fields-title {
  margin: 1.5rem 0;
}

.fields-table,
.model-view .toolbelt {
  background-color: #ffffff;
}

.fields-table {
  border-collapse: collapse;
  padding: 0;
  border: 1px solid #ddd;
  width: 90%;
  margin: 0 auto;
}

.fields-table__cell {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: center;
  overflow-wrap: break-word;
}

.fields-list__itrem {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-bottom: none;
  width: 20rem;
  max-width: 80%;
}

.fields-list__item:last-of-type {
  border-bottom: 1px solid #ddd;
}

.fields-table__name-header {
  max-width: 60%;
}

.fields-table__name-cell {
  max-width: 60%;
  word-break: break-all;
}

/* Model Form */
.edit-model__actions,
.edit-model__model,
.edit-model__fields-set {
  width: 800px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0;
  border: none;
}

.edit-model__actions {
  text-align: center;
}

.edit-model__actions .button {
  width: 150px;
}

.edit-model__actions .button:first-child {
  margin-right: 0.5rem;
}

.edit-model__actions .button:last-child {
  margin-left: 0.5rem;
}

.edit-model__actions, .edit-model__model {
  margin: 1.5rem auto;
}

.edit-model__model {
  text-align: center;
}

.edit-model__model {
  font-size: 1.25rem;
}

.edit-model__model label {
  font-size: 1rem;
  margin-right: 0.5rem;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

.form-field {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.edit-model-name input,
.form-field input,
.form-field select {
  padding: 0.3rem;
  margin-top: 0.5rem;
}

.edit-model-name label,
.edit-model-name input {
  text-align: center;
}

.add-new-field {
  display: flex;
  justify-content: space-evenly;
}

.add-new-field button {
  width: 150px;
}

.form-field__item {
  text-align: center;
  width: 85%;
  margin: 0.5rem auto;
}

.form-field__item input {
  text-align: center;
}

.form-field__item option {
  padding-left: 2rem;
}

label.checkbox {
  margin-right: 0.75rem;
}

.form-field__name label,
.form-field__type label {
  margin-right: 1em;
  margin-bottom: 0.5rem;
}

.form-field__name input,
.form-field__type select {
  width: 100%;
}

 .form-field__options {
   display: flex;
   justify-content: space-evenly;
 }

 .form-field__option {
    font-size: 0.8rem;
  }


.form-field__actions {
  display: flex;
  justify-content: space-evenly;
}

.form-field__action {
  width: 40%;
}

.form-field__name {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.form-field__type {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}


.form-field__options {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.form-field__actions {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
}

@media (min-width: 700px) {
  .form-field {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  
  .form-field__name {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  
  .form-field__type {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  
  .form-field__options {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  
  .form-field__actions {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

.delete-field-button {
  width: 150px;
}