:root {
  --primary-color: cornflowerblue;
  --primary-color-light: lightsteelblue;
  --primary-color-dark: royalblue;
  --secondary-color: orchid;
  --top-bar-height: 3.5rem;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: #2a2a2a;
}

#react-app {
  min-height: 100%;
  position: relative;
  padding-bottom: 4em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  text-align: center;
}

.footer__reset:hover {
  color: var(--secondary-color);
}

/* Top Bar */
.top-bar {
  border-bottom: solid 1px rgba(34, 36, 38, 0.30);
  height: var(--top-bar-height);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  text-align: left;
}

.top-bar::before {
  content: "";
  background-image: url(../assets/sequelize-ui-tiny.svg);
  background-size: 2.5rem 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  float: left;
  cursor: pointer;
}

.top-bar__title {
  display: inline;
  font-weight: lighter;
  font-size: 1.75rem;
  line-height: 3.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

.top-bar__actions {
  float: right;
}

.top-bar__actions__button {
    cursor: pointer;
    min-width: 3rem;
    float: right;
    border: none;
    padding: 0.5rem;
    height: 3.5rem;
    background: none;
    line-height: 3em;
    font-size: 0.8rem;
    font-weight: bold;
    border-left: solid 0.5px rgba(32, 32, 32, 0.50);
    text-decoration: none;
    display: block;
    align-items: flex-start;
    color: inherit;
}

.top-bar__actions__button.icon.above {
  line-height: inherit;
}

.top-bar__actions__button.icon.above::before {
  text-align: center;
  font-size: 1.75em;
}

.top-bar__actions__button:hover {
  color: var(--primary-color-dark)
}

.top-bar.--small .top-bar__actions__button {
  min-width: 4rem;
}


.topbar__actions__button:disabled {
    cursor: initial;
}

/* Button */
.button {
  border: none;
  background: none;
  font-size: 0.875em;
  display: inline-block;
  cursor: pointer;
  padding: 0.5em;
}

.button.icon.before::before {
  margin-right: 0.3em;
}

.button.icon.after::after {
  margin-left: 0.3em;
}

.button.primary {
  background-color: var(--primary-color);
  color: #fff;
}

.button.primary:hover {
  background-color: var(--primary-color-dark);
}

.button.primary:focus {
  border: 2px solid black;
}

.button.primary:disabled {
  background-color: var(--primary-color-light);
}

/* List */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 9px;
}

.list__title + .list {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list__title {
  font-size: 1em;
  line-height: 2.5em;
  text-transform: uppercase;
  margin-bottom: 0;
  display: block;

  border: 1px solid #ddd;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom: none;
}

.list__item {
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.list__item:last-of-type {
  border-bottom: none;
}


.list__item__actions > * {
  width: 3.5em;
  /* display: inline-block; */
}

/* Checkbox */
.checkbox {
  line-height: 1.5em;
  font-size: 1em;
}

.checkbox:hover {
  cursor: pointer;
}

input.checkbox[type="checkbox"] {
  width: 0;
  height: 0;
}

label.checkbox::before {
  content: "";
  display: inline-block;

  height: 1em;
  width: 1em;
  
  border: 1px solid;

  left: 0;
  top: 0.25em;
}

label.checkbox::after {
  content: "";
  display: inline-block;

  height: 0.25em;
  width: 0.5em;
  border-left: 2px solid;
  border-bottom: 2px solid;

  transform: rotate(-45deg);

  left: 0.3em;
  top: 0.5em;
}

label.checkbox {
  position: relative;
  display: inline-block;

  padding-left: 1.5em;
}

label.checkbox::before,
label.checkbox::after {
  position: absolute;
}

input.checkbox[type="checkbox"] + label::after {
  content: none;
}

input.checkbox[type="checkbox"]:checked + label::after {
  content: "";
}

input.checkbox[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 12px;
}

/* Icons */
.icon.before::before,
.icon.above::before,
.icon.after::after,
.icon.below::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
}

.icon.above::before,
.icon.below::after {
  display: block;
}

.icon.before.code::before,
.icon.above.code::before,
.icon.after.code::after,
.icon.below.code::after {
  font-weight: 900;
  content: '\f121';
}

.icon.before.edit::before,
.icon.above.edit::before,
.icon.after.edit::after,
.icon.below.edit::after {
  font-weight: 900;
  content: '\f044';
}

.icon.before.back::before,
.icon.above.back::before,
.icon.after.back::after,
.icon.below.back::after {
  content: '\f359';
}

.icon.before.delete::before,
.icon.above.delete::before,
.icon.after.delete::after,
.icon.below.delete::after {
  font-weight: 900;
  content: '\f2ed';
}

.icon.before.view::before,
.icon.above.view::before,
.icon.after.view::after,
.icon.below.view::after {
  font-weight: 900;
  content: '\f06e';
}

.icon.before.check::before,
.icon.above.check::before,
.icon.after.check::after,
.icon.below.check::after {
  font-weight: 900;
  content: '\f00c';
}

.icon.before.save::before,
.icon.above.save::before,
.icon.after.save::after,
.icon.below.save::after {
  content: '\f0c7';
}

.icon.before.cancel::before,
.icon.above.cancel::before,
.icon.after.cancel::after,
.icon.below.cancel::after {
  font-weight: 900;
  content: '\f00d';
}

.icon.before.download::before,
.icon.above.download::before,
.icon.after.download::after,
.icon.below.download::after {
  font-weight: 900;
  content: '\f019';
}

.icon.before.add::before,
.icon.above.add::before,
.icon.after.add::after,
.icon.below.add::after {
  font-weight: 900;
  content: '\f067';
}

.icon.before.folder::before,
.icon.above.folder::before,
.icon.after.folder::after,
.icon.below.folder::after {
  content: '\f07b';
}


.icon.before.github::before,
.icon.above.github::before,
.icon.after.github::after,
.icon.below.github::after {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  content: '\f09b';
}

.icon.before.nodejs::before,
.icon.above.nodejs::before,
.icon.after.nodejs::after,
.icon.below.nodejs::after {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  content: '\f3d3';
}

.icon.before.git::before,
.icon.above.git::before,
.icon.after.git::after,
.icon.below.git::after {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  content: '\f1d3';
}

.icon.before.json::before,
.icon.above.json::before,
.icon.after.json::after,
.icon.below.json::after {
  font-weight: bold;
  content: '{}';
}

/* Breadcrumbs */
.breadcrumbs ol {
  padding: 0;
  margin: 0;
  float: left;
}

.breadcrumbs__crumb {
  display: inline;
  margin-right: 0.5em;
}

.breadcrumbs__crumb:not(.inactive) a {
  cursor: pointer;
  font-weight: bold;
  color: var(--secondary-color);
}


.breadcrumbs__crumb:last-child {
  margin-right: 0;
}

.breadcrumbs__crumb:not(:last-child)::after {
  content: '\\';
  margin-left: 0.5em;
  color: initial;
  cursor: initial;
}

/* Toolbelt */
.toolbelt {
  border: 1px solid #ddd;
  display: inline-block;
  border-radius: 6px;
}

.toolbelt .button {
  padding: 0.75em;
}

.toolbelt .button:first-of-type {
  padding-left: 1.5em;
}

.toolbelt .button:last-of-type {
  padding-right: 1.5em;
}

.toolbelt .button:hover {
  color: var(--secondary-color);
}

.toolbelt__title {
  margin: 0 0 0.5em;
  font-size: 1em;
  text-transform: uppercase;
}

/* Flyout */
.flyout {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  left: 100vw;
  top: 0;
  transition: left 0.33s;
}

.flyout.open {
  left: 0;
}

.flyout__header {
  height: 4em;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  padding: 1em;
}

.flyout__header h2 {
  margin: 0;
  font-size: 1.5em;
  text-transform: uppercase;
}

.flyout__header button {
  float: right;
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  margin-right: 0.5em;
}

/* Code */
pre[class*="language-"] > code {
  background-size: 2.95em 2.95em
}

pre.code[class*="language-"]::before,
pre.code[class*="language-"]::after {
  box-shadow: none;
}

pre.code[class*="language-"] {
  margin: 0;
}

.code__actions {
  position: absolute;
  top: 0.4em;
  right: 1em;
  display: inline-block;
}


.code__actions button {
  background: white;
  border: 1px var(--primary-color-dark) dashed;
  border-radius: 3px;
  cursor: pointer;
  padding: 3px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.code__actions button {
  margin-right: 0.5em;
}

.code__actions button:last-child {
  margin-right: 0;
}

.code__actions button:hover {
  color: var(--primary-color);
  background-color: #fcfcfc;
}

.code-explorer {
  text-align: left;
  border: solid 1px #ddd;
  border-radius: 5px;
  height: calc(100vh - var(--top-bar-height) - 4em);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
}

.code-explorer__explorer,
.code-explorer__code {
  width: 100%;
  display: inline-block;
  overflow-y: auto;
  overflow-x: auto;
}

.code-explorer__code {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  border-left: solid 1px #ddd;
  background: #f2f2f2;
}

.code-explorer__explorer {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  vertical-align: top;
  padding: 1em;
  border-bottom: solid 1px #ddd;
}

.code-explorer__explorer ul {
  list-style: none;
  padding-left: 1.25em;
  margin: 0;
}

.code-explorer__explorer > ul {
  padding-left: 0;
}

.code-explorer__file-item > .code-explorer__filename {
  display: block;
  padding: 0.25em;
  color: #222;
  white-space: nowrap;
}

.code-explorer__file-item.active > .code-explorer__filename {
  font-weight: bold;
  color: var(--primary-color-dark);
  cursor: default;
}

.code-explorer__file-item.active > .code-explorer__filename:hover {
  color: var(--primary-color-dark);
  cursor: default;
}

.code-explorer__code pre {
  width: 100%;
  height: 100%;
  margin: 0;
  box-shadow: none;
}


.code-explorer__code code {
  box-shadow: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

@media (min-width: 800px) {
  .code-explorer {
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
  }

  .code-explorer__explorer {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    border-bottom: none;
  }

  .code-explorer__code {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }
}

.code-explorer__file-item > .code-explorer__filename::before {
  margin-right: 0.5em;
}

.code-explorer__file > .code-explorer__filename {
  cursor: pointer;
}

.code-explorer__file > .code-explorer__filename:hover {
  color: var(--secondary-color);
}

.code-explorer__filename::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
}

/* General Page */
.title {
  font-size: 1.25em;
  margin: 1.5em 0;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1em;
  margin: 1em 0;
  text-align: center;
  text-transform: uppercase;
}

/* Page Specific */
/* Models List */
.project {
  text-align: center;
}

.models__title {
  margin-top: 1.5em;
}

.add-model {
  justify-content: space-evenly;
  height: 3em;
}

.models__title,
.models,
.model-config {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  max-width: 90%;
}

.model-config {
  list-style: none;
  padding: 0 0.75em 0.75em 0.75em;
  display: inline-block;
  margin-top: 2em;
  text-align: left;
}

.model-config .toolbelt__title {
  border-bottom: 1px solid #ddd;
  margin: 0 -0.75em;
  line-height: 2.5em;
}

input.model-config__item {
  display: block;
}

label.model-config__item {
  margin-left: 1em;
  cursor: pointer;
}

label.model-config__item:hover {
  color: var(--secondary-color);
}

.model-config__item {
  margin-bottom: 0.25em;
}

.model-config .toolbelt__title {
  display: block;
  text-align: center;
}


.models__item {
  padding: 0 0.5em;
}

.models__item {
  padding: 0 0.5em;
}

.models__item__actions > .button:hover {
  color: var(--secondary-color);
}

.new-model-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.new-model-form__name-label {
  line-height: 2em;
  margin-right: 0.5em;
}

.new-model-form__name {
  height: 2em;
  text-align: center;
}

.new-model-form__add {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

@media (max-width: 400px) {
  .new-model-form__add.button,
  .new-model-form__cancel.button {
    color: transparent;
    width: 2em;
  }

  .new-model-form__add.button::after {
    color: #fff;
    margin-left: -1.75em;
  }

  .new-model-form__cancel.button::after {
    color: #fff;
    margin-left: -3em;
  }
}

.project .title,
.model-view .title {
  clear: right;
}

.project-code__open,
.model-code__open {
  float: right;
  color: var(--primary-color-dark);
  font-size: 1rem;
  margin: 18px 14px;
}

.project-code__open:hover, 
.model-code__open:hover {
  color: var(--secondary-color);
}

.project-code,
.model-code {
  position: fixed;
  background-color: #fff;
  top: var(--top-bar-height);
  left: 100vw;
  width: 100%;
  z-index: 1;
  padding: 1em;
  transition: left 400ms ease-in-out;
}

.model-code {
  height: calc(100vh - var(--top-bar-height) - 2em);
}

@media (max-width: 450px) {
  .project-code {
    font-size: 0.8em;
  }
}

.project-code.open,
.model-code.open {
  left: 0;
}

.project-code__top,
.model-code__top {
  display: flex;
  justify-content: flex-end;
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project-code__top .button,
.model-code__top .button {
  font-size: 1rem;
}

.project-code__top .button:hover,
.model-code__top .button:hover {
  color: var(--secondary-color);
}

.project-code .code-explorer,
.model-code .code-explorer {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.model-code pre,
.model-code code {
  height: 100%;
}

/* View Model */
.model-view {
  text-align: center;
}

.fields-title {
  margin: 1.5em 0;
}

.fields-table {
  border-collapse: collapse;
  padding: 0;
  border: 1px solid #ddd;
  width: 90%;
  margin: 0 auto;
}

.fields-table__cell {
  border: 1px solid #ddd;
  padding: 0.5em;
  text-align: center;
  overflow-wrap: break-word;
}

.fields-list__item {
  padding: 0.5em;
  border: 1px solid #ddd;
  border-bottom: none;
  width: 20em;
  max-width: 80%;
}

.fields-list__item:last-of-type {
  border-bottom: 1px solid #ddd;
}

.fields-table__name-header {
  max-width: 60%;
}

.fields-table__name-cell {
  max-width: 60%;
  word-break: break-all;
}

/* Model Form */
.edit-model__actions,
.edit-model__model,
.edit-model__fields-set {
  width: 800px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0;
  border: none;
}

.edit-model__actions {
  text-align: center;
}

.edit-model__actions .button {
  width: 150px;
}

.edit-model__actions .button:first-child {
  margin-right: 0.5em;
}

.edit-model__actions .button:last-child {
  margin-left: 0.5em;
}

.edit-model__actions, .edit-model__model {
  margin: 1.5em auto;
}

.edit-model__model {
  text-align: center;
}

.edit-model__model {
  font-size: 1.25em;
}

.edit-model__model label {
  font-size: 1rem;
  margin-right: 0.5em;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

.form-field {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.edit-model-name input,
.form-field input,
.form-field select {
  padding: 0.3em;
  margin-top: 0.5em;
}

.edit-model-name label,
.edit-model-name input {
  text-align: center;
}

.add-new-field {
  display: flex;
  justify-content: space-evenly;
}

.add-new-field button {
  width: 150px;
}

.form-field__item {
  text-align: center;
  width: 85%;
  margin: 0.5em auto;
}

.form-field__item input {
  text-align: center;
}

.form-field__item option {
  padding-left: 2em;
}

label.checkbox {
  margin-right: 0.75em;
}

.form-field__name label,
.form-field__type label {
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.form-field__name input,
.form-field__type select {
  width: 100%;
}

 .form-field__options {
   display: flex;
   justify-content: space-evenly;
 }

 .form-field__option {
    font-size: 0.8em;
  }


.form-field__actions {
  display: flex;
  justify-content: space-evenly;
}

.form-field__action {
  width: 40%;
}

.form-field__name {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.form-field__type {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}


.form-field__options {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.form-field__actions {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
}

@media (min-width: 700px) {
  .form-field {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  
  .form-field__name {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  
  .form-field__type {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  
  .form-field__options {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  
  .form-field__actions {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

.delete-field-button {
  width: 150px;
}


/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
.code-explorer__explorer::-webkit-scrollbar,
.code-explorer__code code::-webkit-scrollbar {
  background-color:#f8f8f8;;
  width:16px
}

/* background of the scrollbar except button or resizer */
.code-explorer__explorer::-webkit-scrollbar-track,
.code-explorer__code::-webkit-scrollbar-track {
  background-color:#f8f8f8;
}

/* scrollbar itself */
.code-explorer__explorer::-webkit-scrollbar-thumb,
.code-explorer__code code::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
  border:4px solid #f8f8f8;
}

/* set button(top and bottom of the scrollbar) */
