.buttonList {
  list-style: none;
  color: var(--color-primary);
}

li {
  margin-bottom: 1em;
  & h3 {
    text-decoration: underline;
    color: var(--green500);
  }
  & div:first-child {
    display: inline-block;
    min-width: 15em;
    color: var(--indigo500);
  }
}

.accent:not([disabled]).raised,
  .accent:not([disabled]).floating {
  background: purple;
  color: grey;
}
