name: CI

on:
  push:
    branches:
      - master
      - js
  pull_request:

env:
  CF_ACCOUNT_ID: c6b0fe2afa4b4d09801e9d18c859da8d
  PAGES_PROJECT_NAME: sequelize-ui

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy preview
        if: ${{ github.event_name == 'pull_request' }}
        uses: tomjschuster/cloudflare-pages-deploy-action@v0
        with:
          account-id: "${{ env.CF_ACCOUNT_ID }}"
          project-name: "${{ env.PAGES_PROJECT_NAME }}"
          api-key: "${{ secrets.CF_GLOBAL_APIKEY }}"
          email: "${{ secrets.CF_EMAIL }}"
          branch: ${{ github.head_ref }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy legacy
        if: ${{ github.ref == 'refs/heads/js' && github.event_name == 'push' }}
        uses: tomjschuster/cloudflare-pages-deploy-action@v0
        with:
          account-id: "${{ env.CF_ACCOUNT_ID }}"
          project-name: "${{ env.PAGES_PROJECT_NAME }}"
          api-key: "${{ secrets.CF_GLOBAL_APIKEY }}"
          email: "${{ secrets.CF_EMAIL }}"
          branch: ${{ github.ref_name }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy Cloudflare production
        if: ${{ github.ref == 'refs/heads/master' && github.event_name == 'push' }}
        uses: tomjschuster/cloudflare-pages-deploy-action@v0
        with:
          account-id: "${{ env.CF_ACCOUNT_ID }}"
          project-name: "${{ env.PAGES_PROJECT_NAME }}"
          api-key: "${{ secrets.CF_GLOBAL_APIKEY }}"
          email: "${{ secrets.CF_EMAIL }}"
          production: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
